
<div class="card">
  <div class="card-header">
    Next 5 Days Data {{city}}
  </div>
  <div class="card-body calHeight">
    <div *ngFor="let weatherForecastData of weatherForecastData ">
      <span class="temperature">Temperature (Min): {{ weatherForecastData.main.temp_min }} </span> <br>
      <span class="temperature">Temperature (Max): {{ ( weatherForecastData.main.temp_max) }} </span><br>
      <span class="temperature">Sea_level: {{ ( weatherForecastData.main.sea_level) }}
   </span>
      <p>{{ weatherForecastData.dt_txt | date:'medium' }}</p>
    </div>
  </div>

</div>
